{% extends "base.html" %}

{% block title %}SignUp{% endblock title %}


{% block body %}

<div class="container my-4">
    <form method="post" action='/signup'>
        {% csrf_token %}
  
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Username</label>
            <input type="text" class="form-control" id="signupUsername" name="signupUsername"
                placeholder="Enter Unique Username" />
        </div>


        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="signupPassword" name="signupPassword" />
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock body %}